
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// colors
$base-col: #ffffff;
$base-col-darker: #f8f9fa;
$main-col: #3490dc;
$highlight-col: #f6993f;
