.base-col {
    background: $base-col;
}

.base-col__darker {
    background: $base-col-darker;
}

.main-col {
    background: $main-col;
}

.highlight-col {
    background: $highlight-col;
}

body {
    height: 100%;
}

footer {
    box-shadow: 0 50vh 0 50vh $base-col;
}
